.forms-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .form-card {
    width: 230px;
    margin: 10px;

    img {
      user-select: none;
      -webkit-user-drag: none;
      max-height: 100px;
      object-fit: cover;
    }

    .ant-card-body {
      display: flex;
      flex-flow: column wrap;
      
      .status {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-right: -8px;

        .responces {
          cursor: pointer;
          user-select: none;

          &:hover {
            background-color: #ccc;
          }
        }
      }

      >.actions {
        margin-top: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        button:first-of-type {
          margin-right: 5px;
        }
      }
    }
  }
}
