.responces-view {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .blank-switch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 15px;

    p {
      margin-right: 7px;
    }
  }
}