.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #fff;

  .logo {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 700;
    cursor: pointer;

    h1 {
      font-size: 1rem;
    }

    p {
      font-size: 0.6rem;
      font-weight: 500;
      color: #1890ff;
      margin-bottom: 5px;
      line-height: 60px;
      margin-left: 2px;
    }
  }

  .actions {
    button {
      margin-left: 10px;
    }
  }

  .authenticated {
    display: flex;
    flex-flow: row nowrap;

    .ant-avatar {
      margin-top: 16px;
      margin-left: 10px;
    }
  }
}