.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #fff;

  .logo {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 700;
    cursor: pointer;

    h1 {
      font-size: 1.3rem;
      font-weight: 600;
    }

    p {
      font-size: 0.8rem;
      font-weight: 600;
      color: #1375d1;
      margin-bottom: 7px;
      line-height: 50px;
      margin-left: 2px;
    }
  }

  .actions {
    button {
      margin-left: 10px;
    }
  }

  .authenticated {
    display: flex;
    flex-flow: row nowrap;

    .ant-avatar {
      margin-top: 16px;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }

  .is-auth {
    justify-content: space-between;
  }


  .ant-layout-header {
    padding-left: 20px;
    padding-right: 15px;

    .actions {
      position: absolute;
      right: 20px;
      // margin-left: auto;
      justify-self: flex-end;

      .register-btn {
        display: none;
      }
    }
  }
}
