.editor-fields-list {
  .ant-form {
    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }

  .ant-collapse-header {
    .anticon {
      margin-right: 10px;
    }

    .anticon-caret-down {
      color: #ccc;
    }
  }
}