.form {
  display: flex;
  flex-flow: column wrap;

  h1 {
    font-size: 1.4rem;
  }

  .title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.3rem;
  }

  .input-field .email-field .date-field .phone-field .email-field {
    background-color: rgb(247, 27, 27);
    display: flex;
    flex-flow: column wrap;
  }

  button {
    margin-top: 10px;
  }
}
