.login-form__card {
  min-width: 300px;
  max-width: 100%;

  .actions {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    a {
      margin-top: 15px;
      margin-bottom: -20px;
    }
  }
}

.tg-auth {
  margin-top: 15px;
}
